*{
    font-family: "Montserrat", sans-serif;;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body{
    background: url('/background.jpg') no-repeat center;
    background-size: cover;
}

.cont{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.wrapper{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(100px);
    padding: 2rem;
    border-radius: 3rem;
    height: 75vh;
    width: 50vw;
}

.wrapper h1{
    text-align: center;
    font-size: 4rem;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5rem;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-group{
    display: flex;
    justify-content: space-between;
}

.form-group label{
    font-weight: 600;
}

.form-group label, .form-group input{
    font-size: 1.5rem;
}

.form-group input{
    background-color: transparent;
    font-weight: 300;
    border: none;
    border-bottom: 2px solid black;
    width: 75%;
    padding-bottom: 0.7rem;
}

.form-group input:focus{
    outline: none;
}

.form-group button{
    width: 25%;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    background-color: rgb(8, 156, 255);
    color: whitesmoke;
    padding: 1rem;
    border-radius: 1.5rem;
}

.form-group button:hover{
    background-color: rgba(60, 177, 255, 0.912);
}